<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/fontawesome-free-6.4.2-web/css/all.min.css" />
    <link rel="stylesheet" href="/public/flatpickr/dist/flatpickr.min.css">

    

</head>

<body class="body scroll">
    <div class="main">
        <form action="">
            <!-- hidden -->
            <input type="hidden" id="selectedRowIdInput">

            <!-- date -->
            <div class="flex_H" style="margin-bottom: 5px;">
                
                <div class="flex_H">
                    <input type="text" id="datepicker" class="hover date_box datepicker" placeholder="التاريخ..." readonly>
                    <div class="clearArrow" id="clearArrow1" title="clear search">✗</div>
                    <i class="fa-regular fa-calendar left_icon"></i>
                </div>
            </div>

            <!-- employee name -->
            <!-- dropdown -->
            <div class="dropdown" id="dropdown">

                <div class="dropdown_select hover flex_H" id="dropdown_select">
                    <input type="text" class="dropdown_select_input" id="dropdown_select_input" placeholder="اسم الموظف..."readonly>
                    <input type="hidden" id="id_hidden_input" readonly>
                    <div class="clearArrow">✗</div>
                    <div class="left_icon">▼</div>
                </div>
                
                <div class="dropdown_menue scroll" id="dropdown_menue">
                    <div class="dropdown_search">
                        <input type="text" class="hover" id="dropdown_search_input" placeholder="ابحث هنا..." oninput="filterOptions()">
                    </div>
                    <div class="dropdown_menue-items" id="dropdownItems">
                        <!-- قائمة الخيارات تظهر هنا -->
                    </div>
                </div>
            </div>



            <!-- number -->
            <div class="flex_H" style="width: 100%;">
                <div class="flex_H">
                    <input type="text" class="number_input hover" id="numberInput" value="0" readonly />
                    <label for="numberInput" class="label_small">يوم</label>
                    <div class="flex_V">
                        <div class="number_inpu_arrows" id="upArrow">▲</div>
                        <div class="number_inpu_arrows" id="downArrow">▼</div>
                    </div>
                </div>

                <div class="flex_V" style="width: 100%;">
                    <!-- <label class="label_small" for="numberNote">البيان</label> -->
                    <!-- <input class="note_text hover" type="search" id="numberNote" name="numberNote"/> -->
                    <textarea name="numberNote" id="numberNote" cols="30" rows="10" class="note_text hover" placeholder="البيان"
                    style="margin-right: 5px; height: 70px; max-width: 70%;"></textarea>
                </div>
            </div>
            <!-- buttons -->
            <div class="flex_H">
                <button type="submit" class="login_button" type="button" id="saveBtn"
                    onclick="saveAttendance()">حفظ</button>
                <button type="submit" class="login_button" type="submit" id="updateBtn"
                    onclick="UpdateAttendanceData()">تعديل</button>
            </div>
        </form>


        <!-- search in table -->
        <div id="search-div" style="display: flex; flex-direction: column;">

            <!-- dates -->
            
                <div class="flex_H">
                    <div class="flex_H">
                        <input type="text" id="startDate" class="hover date_box datepicker" readonly placeholder="من تاريخ...">
                        <div class="clearArrow" id="clearArrow1" title="clear search">✗</div>
                        <i class="fa-regular fa-calendar left_icon"></i>
                    </div>
                </div>
                
                <div class="flex_H">
                    <div class="flex_H">
                        <input type="text" id="endDate" class="hover date_box datepicker" placeholder="الى تاريخ..." readonly>
                        <div class="clearArrow" id="clearArrow1" title="clear search">✗</div>
                        <i class="fa-regular fa-calendar left_icon"></i>
                    </div>
                </div>
                
            

                <!-- search -->
            <div class="search_div">
                <input type="text" name="searchInput" id="searchInput" placeholder="ابحث هنا..." class="hover">
                <div class="clearArrow" id="clearArrow1" title="clear search">✗</div>
                <i class="fa-solid fa-magnifying-glass left_icon"></i>
            </div>
            <button id="searchBtn" name="searchBtn" class="searchBtn">search</button>
        </div>



        
        <div id="tableContainer"></div>
    </div>

    
   
    <script src="/public/scripts/attendance.js"></script>
    <script src="/public/flatpickr/dist/flatpickr.min.js"></script>


      <script>
            // تفعيل Flatpickr
            flatpickr(".datepicker", {
             dateFormat: "Y-m-d", // تحديد صيغة التاريخ yyyy-mm-dd
            //   wrap: true // بتخلى ال كاليندر تظهر فوق لو تحت فى الشاشاه مش كافى بس فيها مشكله متشغلهاش
            //  minDate: "2020-01-01", // or by month "2020-01" or by year "2020"
            //  minDate: "today",
            //  maxDate: "2023-12-31",
            //  maxDate: new Date().fp_incr(14) // 14 days from now
            // disable: ["2025-01-30", "2025-02-21", "2025-03-08", new Date(2025, 4, 9) ], // diable some datets
        /*
            disable: [
            {
              from: "2025-04-01",
              to: "2025-05-01"
            },
            {
              from: "2025-09-01",
              to: "2025-12-01"
            }
          ]
        */
            });
           </script>


           <script>



           </script>

      
</body>

</html>