<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="../css/fontawesome-free-6.4.2-web/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body style="height: 100vh;box-sizing: border-box; display: flex; align-items: center; justify-content: center; background-color: rgb(229, 229, 229);;">
    <div class="login_div">
      <p class="login_word">Login</p>
        
      <div class="login_text; ">
        
        <input type="text" class="login_textbox hover" placeholder="UserName" />
        <input type="text" class="login_textbox hover" placeholder="pasword" />
      </div>

      
       <a href="../index.html"> <button class="login_button" >Login</button> </a>
        <p class="wrong_username">*this is a wronga password or Username</p>
    </div>

    <!-- ________________________________________________________________ -->
    <script src="../js/main.js"></script>
  </body>
</html>
